body{background:#00007f; margin:0; padding: 0; }
#wrap {width:475px; margin: 0 auto;background:white; }
#header{height:830px;background:white;}
#top_menu{height:815px;}
#leftside{min-height:1484px;}
#main{min-height:1500px;width:476px; background:white;}
#footer{height:1000px;}

.logo {margin: 50px 115px;}
.image {margin: 0px 0px;}
.line {margin-top:20px; width: 475px;}
.menu {margin: 0px 53px;}
.line1.png {margin: 20px  475px;}
.text{margin: 10px 27px; }
.leftside{margin: 0px 40px;}
.talktous{margin:0px 0px}
.contactus{margin:0px 25px;}
.map{margin:0px 0px}
.contactdetails{margin:50px 75px;}
.contact{margin:0px 53px;}

#name {
    width:460px;
}
#email {
    width:460px;
}
#message {
    width: 460px;
    margin:5px;
    border-radius:5px;
    height:170px;
}
#name,
#email{
    margin:5px;
    border-radius:5px;
    height:30px;
}


button {
    width:290px;
    background-color:#ffa474;
    color:#ffffff;
    margin:5px;
    padding:10px;
    border-radius:5px;
    font-weight: bold;

}

.dv {
    width:477px;
    height:49px;
    position:absolute;
    top:5500px;
    left:37%;}





